{% extends 'layout.html' %} {% block content %}
<div class="container">
    <h1>Welcome to the Student Portal</h1>
    <p>Use the navigation bar to register or log in.</p>
    <div class="jumbotron">
        <h1 class="display-2">Student Portal</h1>
        <h2 class="display-4">Web Courses Application</h2>
        <p class="lead">Unlock Your Potential – Learn, Grow, and Succeed with Student Portal!</p>
        <hr class="my-4">
        <p>Step into limitless learning—Log in now and elevate your knowledge!,</p>
        <p>Join Us!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="courses.html" role="button">Learn more</a>
        </p>
      </div>
    
</div>

{% endblock %}
